
ul{padding: 0 !important; }
li{list-style: none;}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  


/* footer ----------------------------------------------- */


.footer_outer{

    margin-top: 50px;
    background-color: #eee;

    .footer{
        width: 1320px;
        padding: 50px 0;
        .info,
        .time,
        .bank{
            text-align: left;
            h3{
                font-weight: bold;
                margin-bottom: 20px;
            }
            li{
                margin-top: 15px;
                span{
                    font-weight: bold;
                }
            }

            p{
                color: #6c6a6a;
            }
        }
    }
}




/* detail ----------------------------------------------- */


    .detail_title{
        font-family: 'KBO-Dia-Gothic_bold';
        margin-top: 80px;
        margin-bottom: 40px;
    }
    .detail_box{
        display: flex;
        justify-content: center;
        width: 1320px;
        margin: 0 auto;
        background-color: #f3edd3;
        padding: 70px 0;
        margin-bottom: 100px;

        .detail_img{
            width: 400px;
            margin-right: 50px;
        }

        .detail_info{
            text-align: left;
            .info_title{
                font-size: 30px;
                font-weight: bold;
                margin: 20px auto;
            }

            .info_desc{
                margin-bottom: 10px;
                font-size: 20px;
                color: #6c6a6a;
            }
            ul{
                display: flex;
                font-size: 30px;
                font-weight: bold;
                .info_discount{
                    color: green;
                }
                .info_price{
                    margin-left: 10px;
                }
            }
            .info_realprice{
                font-size: 20px;
                color: #6c6a6a;
                margin-bottom: 100px;
            }


            .info_btn{
                border: none;
                background-color: tan;
                font-weight: bold;
                width: 100%;
                height: 70px;
                line-height: 70px;
                font-size: 30px;

            }
        }

    }

/* detail ----------------------------------------------- */

.cart_title{
  margin: 50px 0;
  span{
    color: black;
    font-weight: bold;
  }
}

.cart_btn{
  border: none;
  background-color: tan;
  font-weight: bold;
  width: 150px;
  height: 40px;
  margin: 10px auto 30px;
}

.plus_btn{
  border: none;
  background-color: tan;
  font-weight: bold;
  width: 50px;
  margin-right: 5px;
  &:hover{
    background-color: rgb(206, 149, 75);
  }
}


.minus_btn{
  border: none;
  background-color: tan;
  font-weight: bold;
  width: 50px;
  &:hover{
    background-color: rgb(206, 149, 75);
  }
}






/* page ----------------------------------------------- */

    .main_title{
        font-family: 'KBO-Dia-Gothic_bold';
        padding: 50px 0;
        background-color: rgba(210, 180, 140, 0.323);
        margin: 10px auto 50px;
    }

  .best_item{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 1320px;
    margin: 0 auto !important;
    .items{

      .links{
        text-decoration: none;
        color: black;
        div{
          width: 350px;
          height: 250px;
          margin: 0 auto;
          overflow: hidden;
          img{
            width: 250px;
            margin-bottom: 20px;
            &:hover{
              scale: 1.1;
              transition: all 0.3s;
            }
          }
        }


        .product_sub{
          margin-top: 20px;
          font-size: 16px;
          font-weight: bold;
          text-align: left;
          width: 250px;
          margin: 0 auto;
          padding: 10px 0; 
        }

        .realprice{
            font-size: 15px;
            font-weight: bold;
            margin-top: 10px;
            width: 250px;
            margin: 0 auto;
            text-align: left;
            color: #b0aeae;
            padding: 10px 0;
            
          }
        ul{
            width: 250px;
            margin: 0 auto;
            display: flex;
            .discount{
                color: green;
                font-weight: bold;
                font-size: 20px;
               padding-right: 10px;
            }
            .price{
                    font-weight: bold;
                    font-size: 20px !important;
                    margin: 0 !important;
            }
            
        }
        

      }

      .item_btn{
        margin-top: 10px;
        border: 1px solid tan;
        background-color: #fff;
        font-size: 15px;
        width: 250px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        font-weight: bold;
        &:hover{
          background-color: tan;
          transition: all 0.3s;
        }
      }
    }
  }

  
  .new_item,
  .delivery_item{
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 1320px;
    margin: 0 auto !important;
    

    .items{

      .links{
        text-decoration: none;
        color: black;
        div{
          width: 350px;
          height: 250px;
          margin: 0 auto;
          overflow: hidden;
          img{
            width: 250px;
            margin-bottom: 20px;
            &:hover{
              scale: 1.1;
              transition: all 0.3s;
            }
          }
        }


        .product_sub{
          margin-top: 20px;
          font-size: 16px;
          font-weight: bold;
          text-align: left;
          width: 250px;
          margin: 0 auto;
          padding: 10px 0; 
        }

        .realprice{
            font-size: 15px;
            font-weight: bold;
            margin-top: 10px;
            width: 250px;
            margin: 0 auto;
            text-align: left;
            color: #b0aeae;
            padding: 10px 0;
            
          }
        ul{
            width: 250px;
            margin: 0 auto;
            display: flex;
            .discount{
                color: green;
                font-weight: bold;
                font-size: 20px;
               padding-right: 10px;
            }
            .price{
                    font-weight: bold;
                    font-size: 20px !important;
                    margin: 0 !important;
            }
            
        }
        

      }

      .item_btn{
        margin-top: 10px;
        border: 1px solid tan;
        background-color: #fff;
        font-size: 15px;
        width: 250px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        font-weight: bold;
        &:hover{
          background-color: tan;
          transition: all 0.3s;
        }
      }
    }
  }